$primaryColor: #3e464c;
$primaryDarkColor: #2b3135;
$primaryLightColor: #777d81;
$accentColor: #e91e63;
$accentDarkColor: #5A44A1;
$accentLightColor: #F586F1;
$accentTextColor: #ffffff;
$darkMenuBgColor: #C6C6C6;
$darkMenuHoverColor: #777d81;

@import '../../sass/layout/_layout';