
body, .layout-wrapper{
	height:100%;
	}

			
.layout-wrapper .footer{
    -moz-transition: margin-left 0.3s;
    -o-transition: margin-left 0.3s;
    -webkit-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
    padding:0px;
}

.layout-wrapper .layout-main{
	min-height:70%;
}
			
.layout-wrapper .footer .center{
	position:absolute;
	margin:auto 15px;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

			
.layout-wrapper .footer a {
	color:#727475;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    
    
}
			
.layout-wrapper .footer {
	background-color:#f3f3f4!important
    padding: .5em;
    /*color: #262626;*/
    color:#727475;
    text-align: center;
    font-size: 13px;

    
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
	


.ui-panel-titlebar-icon.ui-corner-all {
   float: left;
   margin-right: 5px;
}

.ui-panel .ui-panel-titlebar .ui-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}

/*************************************************************************************
**************************************** Tablas **************************************
**************************************************************************************/

body .ui-widget-header {
	color:#5c5c5c;
	}

body .ui-paginator {
    background-color: white;
}


body .ui-paginator > a {
    color: #777d81;
}

body .ui-paginator .ui-paginator-pages a {
    color: #777d81;
}

body .ui-widget-header {
	border: 1px solid #cacaca;
}

body.layout-compact .ui-datatable .ui-datatable-header, 
body.layout-compact .ui-datatable .ui-datatable-footer {
    font-weight: bold;
}

body .ui-paginator .ui-paginator-pages a.ui-state-hover {
    color: white;
}

body .ui-paginator > a.ui-state-hover {
    color: white;
}

body .ui-datatable.ui-datatable-scrollable thead tr th {
    font-size: 14px;
}

body .ui-datatable thead tr th {
    border-bottom: 0px;
}

body .ui-datatable thead th.ui-state-active, 
body .ui-datatable thead th.ui-state-highlight {
    background-color: #3e464c!important;
    color: #ffffff!important;
    border-top-color: #bdbdbd!important;
}


/*************************************************************************************
************************************* Fin Tablas **************************************
**************************************************************************************/


.dashboard .colorbox.colorbox-1 div:first-child {
    background-color: #2E7D32; }
  .dashboard .colorbox.colorbox-1 div:last-child {
    background-color: #4CAF50; }
  .dashboard .colorbox.colorbox-blue div:first-child {
    background-color: #0277BD; }
  .dashboard .colorbox.colorbox-blue div:last-child {
    background-color: #3da4d2; }
  .dashboard .colorbox.colorbox-3 div:first-child {
    background-color: #ff1125; }
  .dashboard .colorbox.colorbox-3 div:last-child {
    background-color: #F44336; }
  .dashboard .colorbox.colorbox-orange div:first-child {
    background-color: #ff8f00; }
  .dashboard .colorbox.colorbox-orange div:last-child {
    background-color: #FFA726; }
  .dashboard .colorbox.colorbox-5 div:first-child,
  .dashboard .colorbox.colorbox-ine div:first-child {
    background-color: #9c688d; }
  .dashboard .colorbox.colorbox-5 div:last-child,
  .dashboard .colorbox.colorbox-ine div:last-child {
    background-color: #b6b0af; }
    
    
.info-ine label:first-child{
	color:black;
}
.info-ine label:last-child{
	color:#e91e63;
}

.ui-progressbar .ui-widget-header {
    background: #e91e63 !important;
}


.major-header{
	text-align: center;	
}

.major-header h3{
	font-size: 20px!important;
	font-weight: bold;
}

.major-header h3,
.major-header span{
	color:#e91e63;
}

.major-header span i{
	font-size:150px;
}

.major-header p{
	color:#6c6c6c;
	font-size:14px;
}

.card.page-header{
	margin-left: -15px;
    margin-right: -15px;
    margin-top: -20px;
    border-radius: 0px;
}

body.layout-compact .card h1 {
	color:#e91e63;
    font-size: 18px;
    margin: 22px 0;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.ctx-info{
	color:#686868;
	
    padding: 5px 25px ;
    background:#f3f6fb;
    border:1px solid #e7eaec;
    border-left: none;
    border-right:none;
    margin-left:-16px;
    margin-right:-16px;
}

.table-actions .ui-icon{
	display: inline-block;
}

.table-actions span{
	float:left;
	cursor:pointer;
}

.table-actions span:hover{
	color:#860047;
}

/*************************************************************
************************* inputs *****************************
**************************************************************/

/*Mensaje de error de los inputs*/
body .ui-message.ui-message-error {
    background-color: transparent;
    border-color: transparent;
    color: #e62a10;
}

body .ui-messages .ui-messages-error-icon, 
body .ui-message .ui-message-error-icon{
	color:#e62a10
}
/*Posicion del mensaje de error*/
.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal {
    border: 1px solid;
    margin: 0 0px;
    padding: 2px 2px;
}

/*borde de los inputs */
body .ui-inputfield {
	    border-width: 1px 1px 1px 1px;
}

/*Tamaño de los inputs */
body.layout-compact .ui-inputfield {
    padding: 6px 6px;
    font-size: 14px;
    border-radius: 3px;
}

/*Borde de los selects */
body .ui-selectonemenu {
    border: 1px solid #bdbdbd;
    border-radius: 3px;
}
/*Tamaño de los selects */
body .ui-selectonemenu .ui-selectonemenu-label.ui-inputfield {
    font: 14px "Roboto", "Helvetica Neue", sans-serif;
}

/*Posicion del trigger de los select*/
body.layout-compact .ui-selectonemenu .ui-selectonemenu-trigger {
    top: 13px;
}

/*On focus*/
body .ui-inputfield.ui-state-focus{
	border-color:#e91e63;
}

/*Div mensages de error*/
div.ui-message:empty{
	display:none;
}
/*************************************************************
************************* fin inputs *************************
**************************************************************/


/*************************************************************
************************* form groups ************************
**************************************************************/

.form-group .label{
	margin-right:10px;
}

/* Posicionamiento del label*/
.form-group .ui-outputlabel.ui-widget{
	padding: 0px 2px;
}
.ui-selectoneradio.ui-grid-responsive .ui-grid-row>*,
.ui-selectmanycheckbox.ui-grid-responsive .ui-grid-row>*{
	margin: 5px 0px;
}

/*************************************************************
************************* fin form groups ************************
**************************************************************/


/*************************************************************
************************* Buttons *** ************************
**************************************************************/
body .ui-button.first-btn {
      background-color: #3e464c; }
      body .ui-button.first-btn.ui-state-hover {
        background-color: #2b3135; }
      body .ui-button.first-btn.ui-state-focus {
        outline: 0 none;
        background-color: #556068; }
        
body .ui-button.second-btn {
      background-color: #f5f5f5;
      color:#333333; 
		}
      body .ui-button.second-btn.ui-state-hover {
        background-color: #dcdcdc; }
      body .ui-button.second-btn.ui-state-focus {
        outline: 0 none;
        background-color: #f8f8f8; }
        
      
body .ui-button.second-btn .ui-icon{
      color:#333333; 
		}

body .ui-selectonebutton.ui-buttonset .ui-button:not(.ui-state-active),
body .ui-selectmanybutton.ui-buttonset .ui-button:not(.ui-state-active){
	background-color: #f5f5f5;
	color:#333333;
}

body .ui-selectonebutton.ui-buttonset .ui-button.ui-state-hover:not(.ui-state-active),
body .ui-selectmanybutton.ui-buttonset .ui-button.ui-state-hover:not(.ui-state-active){
	background-color: #dcdcdc;
	color:#333333;
}


.filter-fieldset .ui-fieldset-toggler{
	position:relative;
}

.filter-fieldset .ui-icon-plusthick::before{
	font-family:"FontAwesome";
	content:"\f0b0";
	margin-left:2px;
	position: absolute;
    top: 9px;
}	


/*
.filter-fieldset .ui-icon-minusthick:before{
	font-family:"FontAwesome";
	content:"\f0b0";
	margin-left:2px;
	position: absolute;
    top: 9px;
}*/

.filter-fieldset a.save-filter-link:before{
	font-family:"FontAwesome";
	content:"\f0b0";
	margin-right:5px;
}

a.not-active{
   color:#ccc!important;
   pointer-events: none;
   cursor: default;
}


.chart-labels>*{
	margin:10px;
	flex-basis:200px;
}

.layout-wrapper .layout-menu.layout-menu-dark .profile {
    background-image: url(/sif_ordinario/app/javax.faces.resource/images/profile-bg.png?ln=ultima-layout);
}

@media (min-width: 640px) {

  
	.page-header h2{
		font-size:2.5em;
	}
  
	.major-header h3{
		font-size: 25px!important;
		
	}
	
	.major-header span i{
		font-size:175px;
	}
	
	.major-header p{
		font-size:18px;
	}
	
}

@media (min-width: 1025px){
	.layout-wrapper.menu-layout-static .footer {
	    margin-left: 250px;
	}
	
	.layout-wrapper.menu-layout-static.layout-menu-static-inactive .footer {
	    margin-left: 0px;
	}
	
	.major-header h3{
		font-size: 35px!important;
	}
	
	.major-header span i{
		font-size:200px;
	}
}


		