/*-------------------------------------------------*/
/* Hoja de Estilos para los Sistemas               */
/*       	Institucinales                         */
/*  v1.1.5 Release Date 05 de septiembre de 2014   */
/*-------------------------------------------------*/

/*----------------------------*/
/*         Generales          */
/*----------------------------*/

.hasDatepicker {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.espacioLabel {
	margin-top : 45px;
}
.error {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 1.42857143;
	color: #e50000;
	font-weight: normal;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
	color: #FF2828;
}
.dropdown:hover .dropdown-menu .dropdown-toggle:hover .dropdown:hover .dropdown-menu:hover{
    display: block;
    color: #FFF;
    background-color: #22ADFF;
    text-shadow: none;
}
.obligatorio {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #E22929;
}
.input { 
	box-shadow: 0 0 3px #CC0000; 
	margin: 10px 
}

h1, h2, h3 {
	margin-top: 10px;
	margin-bottom: 27px;
}
/*Centrar logo del sistema en la pleca*/
.centerImg {
	margin-top       : 65px;
	margin-left      : 16px;
}
/*Color de fondo*/
body {
	background       : #f2f2f2;
}
/*Titulo Sistema*/
h1 {
	color            : #732a3b; 
	font-size        : 30px;
	font-weight      : bold;
	margin-left      : -25px;
}
.fa-2x {
	font-size        : 26px;
}
/*Avisos contenidos en las secciones*/
.avisosSeccion {
	background       : #e5eef3
}
.titulo .btn:hover {
	background       : #ffffff;
	-webkit-transition: background-color 100ms ease-out;
	-moz-transition: background-color 300ms ease-out;
}
.titulo .btn:active {
	background       : #ffffff;
	-webkit-transition: background-color 100ms ease-out;
	-moz-transition: background-color 300ms ease-out;
}
.btn:active .fa-bars {
	color            : #ea4747;
}
.fa-bars:hover, .fa-bars:active {
	color            : #ea4747;
	-webkit-transition: background-color 100ms ease-out;
	-moz-transition: background-color 300ms ease-out;
}

/* ----Subtitulos dentro de sections---*/
.subtitulos {
background     : #F6F3F6;
margin-right   : -20px;
margin-left    : -20px;
padding-left   : 30px;
padding-top    : 10px;
padding-bottom : 10px;
}

/*----------------------------*/
/*        Encabezado          */
/*----------------------------*/
.fondoEncabezado {
	background-image      : url("#{resource['img:IU-bgUserAi.jpg']}");
	background-position   : 0 85px;
}
.pendon {
	background-image	  : url('../img/pendon.png');
	background-repeat     : no-repeat;
	/*padding-top: 1px;*/
	/*position: fixed; */
	/*	bottom: 0px; 
	left: 0px;*/
	/*	    position:absolute;*/	
	position              :relative;
	top                   : 1px;
/*	top                   : 6px;	*/		  
}
.navbar-header img{
	position              :absolute;
	top                   : -65px;
}
.logo {
	position              :absolute;
	top
}
header {
	background: #958c63;
}
header h3 {
	color              : #ffffff;
	/*margin-bottom      : 20px;*/
	text-shadow        : 1px 1px 3px #000;
}
header .container {
	max-width           : 1170px;
	padding-bottom      : 10px;
}
/*Tamaño del menu desplegable del perfil de usuario*/
header .yamm .yamm-content {
	padding            : 5px 78px;
	padding-left       : 247px;
}
header .yamm ul li label{
	margin-left: 21px;
}
header .navbar-default .navbar-nav > li > a {
	color               : #e2d2ae;
	font-size           : 15px;
	margin-top          : -8px;
	background          : #3a012a;
}
header .navbar {
	position            : relative;
	z-index             : 1000;
	min-height          : 30px;
	margin-bottom       : 20px;
	border              : 1px solid transparent;
	/*background          : #433916;*/
}
header .navbar-default {
	height: 0;
}
header .nav .caret {
	border-top-color    : #e2d2ae;
}
.encabezado .navbar-nav > li > a {
	padding-top         : 13px;
	padding-bottom      : 3px;
}
.encabezado .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color               : #3a012a;
	background-color    : #e2d2ae ;
}
/*Hover para el perfil del usuario en el encabezado*/
.encabezado .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color               : #3a012a;
	background          : #e2d2ae;
	-webkit-transition  : background-color 300ms ease-out;
	-moz-transition     : background-color 300ms ease-out;
}
.encabezado .navbar-default .navbar-nav > .open > a:focus {
	color               : #3a012a;
	background-color    : #e2d2ae;
}
header .col-md-2 {
    padding-right       : 0px;
    padding-left        : 0px;
    margin-top          : 15px;
    margin-right        : 0px;
}
.container .row {
	margin-top          : 5px;
}
.container .row p {
	margin-top          : 8px;
}
header .navbar {
	position            : relative;
	z-index             : 1000;
	min-height          : 30px;
	margin-bottom       : 20px;
	border              : 1px solid transparent;
}




/*----------------------------*/
/*         Big menu           */
/*----------------------------*/
.dropdown-toggle{
	font-size           : 16px;
	color               : #FFFFFF;
}
.navbar .row {
	font-weight         : normal;
	background          : #3a012a;
	color               : #FFFFFF;
}
.navbar-default {
	background-color    : #732a3b;
	border-color        : #732a3b;
	border-bottom-color : #732a3b;
}
.navbar-default .yamm-content a, a:focus {
	color               : #000000;
	text-decoration     : underline;
}
.yamm-content li a:hover, a:focus  {
	color               : #000000;
	text-decoration     : none;
	background-color    : #f2eee2;
	-webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;	
}
.yamm-content .row {
	background          : #FFFFFF;
	color               : #3a012a;
}
.yamm-content li {
	padding             : 8px;
	padding-left        : 8px;
	font-size           : 15px;
}
.yamm-content ul li:hover {
	background          : #f2eee2;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
}
.navbar-collapse ul ul, ol ul, ul ol, ol ol {
	margin-bottom       : 0;
	list-style          : none;
	margin-left         : -1px;
}
.yamm .yamm-content {
	padding             : 20px 30px;
	padding-left        : 64px;
}
a:focus {
	color               : #555555;
	background-color    : #cbddf3;
}
li .btn {
	background-color    : #e5645f;
	color               : #FFFFFF;
	border-color        : #ac1f53;
	right               : 45px;
	/*margin-top          : 8px;*/
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
}
li .btn:hover {
	background          : #f6358b;
	color               : #FFFFFF;
}
.navbar-default .navbar-nav > li > a {
	color               : #FFFFFF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color               : #732a3b;
	background-color    : #fec28c;
}
/*Hover para el Big Menu*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color               : #732a3b;
	background-color    : #fec28c; 
	/*Bordes en hover bigmenu*/
	/*	border-left         : 1px solid #3a012a ;  
	border-right        : 1px solid #3a012a ;  */
	-webkit-transition  : background-color 300ms ease-out;
	-moz-transition     : background-color 300ms ease-out;
}
.glyphicon {
	position               : relative;
	top                    : 3px;
	display                : inline-block;
	font-family            : 'Glyphicons Halflings';
	font-style             : normal;
	font-weight            : normal;
	line-height            : 1;
	-webkit-font-smoothing : antialiased;
}
/*Transiciones para la info del usuario en el header*/
.open > a:hover, .navbar-default .navbar-nav > .open > a:focus [class*="glyphicon-"] {
    -webkit-transition-duration : .5s;
    -moz-transition-duration    : .5s;
    -o-transition-duration      : .5s;
    transition-duration         : .5s;

    -webkit-transition-property : -webkit-transform;
    -moz-transition-property    : -moz-transform;
    -o-transition-property      : -o-transform;
    transition-property         : transform;	
}
.navbar-default .navbar-nav > .open > a:focus  [class*="glyphicon-"] {
    -webkit-transform           :rotate(180deg);
    -moz-transform              :rotate(180deg);
}
/*Transiciones para cada apartado del big menu*/
.dropdown> a:focus  [class*="glyphicon-"] {
    -webkit-transition-duration : .5s;
    -moz-transition-duration    : .5s;
    -o-transition-duration      : .5s;
    transition-duration         : .5s;

    -webkit-transition-property : -webkit-transform;
    -moz-transition-property    : -moz-transform;
    -o-transition-property      : -o-transform;
    transition-property         : transform;	
}
.dropdown> a:focus  [class*="glyphicon-"] {
    -webkit-transform           :rotate(180deg);
    -moz-transform              :rotate(180deg);
}

/*Transiciones para chevron*/
default .navbar-nav > .dropdown > a .fa-chevron-down {
	border-top-color    : #FFFFFF;
	border-bottom-color : #FFFFFF;
}

.fa-chevron-down {
	display        : inline-block;
	width          : 0;
	height         : 0;
	margin-left    : 2px;
	vertical-align : middle;
	border-top     : 6px solid #000000;
	border-right   : 6px solid transparent;
	border-bottom  : 0 dotted;
	border-left    : 6px solid transparent;
	content: "";
}

/*Transiciones para caret*/
default .navbar-nav > .dropdown > a .caret {
	border-top-color    : #FFFFFF;
	border-bottom-color : #FFFFFF;
}

.caret {
	display        : inline-block;
	width          : 0;
	height         : 0;
	margin-left    : 2px;
	vertical-align : middle;
	border-top     : 6px solid #000000;
	border-right   : 6px solid transparent;
	border-bottom  : 0 dotted;
	border-left    : 6px solid transparent;
	content: "";
}

/*Transiciones para la info del usuario en el header*/
.open > a:hover, .navbar-default .navbar-nav > .open > a:focus [class*="caret"] {
    -webkit-transition-duration : .5s;
    -moz-transition-duration    : .5s;
    -o-transition-duration      : .5s;
    transition-duration         : .5s;

    -webkit-transition-property : -webkit-transform;
    -moz-transition-property    : -moz-transform;
    -o-transition-property      : -o-transform;
    transition-property         : transform;	
}
.navbar-default .navbar-nav > .open > a:focus  [class*="caret"] {
    -webkit-transform           :rotate(180deg);
    -moz-transform              :rotate(180deg);
}
/*Transiciones para cada apartado del big menu*/
.dropdown> a:focus  [class*="caret"] {
    -webkit-transition-duration : .5s;
    -moz-transition-duration    : .5s;
    -o-transition-duration      : .5s;
    transition-duration         : .5s;

    -webkit-transition-property : -webkit-transform;
    -moz-transition-property    : -moz-transform;
    -o-transition-property      : -o-transform;
    transition-property         : transform;	
}
.dropdown> a:focus  [class*="caret"] {
    -webkit-transform           :rotate(180deg);
    -moz-transform              :rotate(180deg);
}



/*----------------------------*/
/*          Migajas           */
/*----------------------------*/
.breadcrumb {
	background       : #e4e4e4;
	margin-top: 10px;
}
.breadcrumb .active {
	font-weight      : bold;
	color            : #000000;
}
.breadcrumb a {
	color            : #000000;
	text-decoration  : underline;
}
.breadcrumb a:hover {
	color            : #4761fe;
	text-decoration  : underline;
} 



/*----------------------------*/
/*     Menú de Hamburguesa    */
/*----------------------------*/
/*Botón Hamburguesa*/
.titulo .btn {
	background       : #ea4747;
}
.activo {
	color            : #000;
	background-color : #f2eee2;
	text-shadow      : none;
	padding-left     : 20px;
}
.inactivo {
	padding-left     : 20px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	color             : #FFFFFF;		
	background-color  : #ea4747;
}
.btn-group a {
	text-decoration: underline;
}



/*----------------------------*/
/*      Pie de Sistema        */
/*----------------------------*/
footer {
	background       : #ddcac4;
}
footer .logoINE {
	width            : 161px;
	padding-top      : 12px;
	margin-bottom    : 5px;
}
footer p {
	padding-top      : 12px;
	margin-bottom    : 5px;
	padding-top      : 12px;
}
footer a {
/* 	padding-top      : 12px; */
	margin-bottom    : 5px;
	color            : #000000;
	text-decoration  : underline;
}
footer .col-md-2 .col-xs-2{
	padding-top      : 12px;
}


/*--------------------------------------*/
/*      Clases para cada Sección        */
/*--------------------------------------*/
form section {
	border           : 1px solid #cccccc;
    padding          : 20px 20px;
    margin-bottom    : 26px;
    background       : #ffffff;
}
form h3 {
	background                      : #f2eee2;
	border                          : 1px solid #b89f7a;
	padding                         : 10px 0px 10px 20px;
	margin-bottom                   : -1px;
	border-top-left-radius          : 10px;
	border-top-right-radius         : 10px;
	-webkit-border-top-right-radius : 10px;
	-webkit-border-top-left-radius  : 10px;
	-moz-border-top-right-radius    : 10px;
	-moz-border-top-left-radius     : 10px;
}